.header h1 {
  position: absolute;
  color: var(--primary);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 5vw;
  top: 30%;
  left: 45%;
  margin: -5px;
}

.header p {
  position: absolute;
  color: var(--primary);
  font-size: 2vw;
  font-style: italic;
  top: 40%;
  left: 60%;
  margin-top: 25px;
}

/* Info */
.info {
  background: var(--light);
  box-shadow: var(--shadow);
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 4fr;
  padding: 3rem;
}

.info p {
  margin-bottom: 20px;
}

.info a:hover {
  background-color: var(--primary);
  color: var(--dark);
}
.references a {
  color: var(--Light);
  background-color: var(--light);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  display: inline-block;
}

.references a:hover {
  background-color: var(--primary);
}

/* Boxes */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  border: 1px #ccc solid;
  padding: 10px;
  background-color: var(--dark);
  background-size: cover;
  color: var(--dark);
  text-align: center;
  flex: 1 0 200%;
}

.box a {
  color: var(--light);
}

#first {
  flex-basis: 50%;
}

#refac,
#day {
  flex-basis: 25%;
}

.box:hover {
  background: white;
}

.box a:hover {
  color: var(--dark);
}

.contact ul {
  display: grid;
  gap: 5%;
  padding: 5px;
  list-style: none;
  grid-template-columns: repeat(3, 25%);
  justify-content: center;
}

/* Footer */
footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

footer img {
  max-width: 5vw;
  margin-bottom: -10px;
  margin-right: 10px;
  margin-left: 10px;
}
